@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky.woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Libre-Franklin-Light";
  src: url("../fonts/LibreFranklin/LibreFranklin-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Libre-Franklin-Regular";
  src: url("../fonts/LibreFranklin/LibreFranklin-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Libre-Franklin-Medium";
  src: url("../fonts/LibreFranklin/LibreFranklin-Medium.ttf");
  fontweight: 500;
}

@font-face {
  font-family: "Libre-Franklin-Bold";
  src: url("../fonts/LibreFranklin/LibreFranklin-Bold.ttf");
}
@font-face {
  font-family: "Merriweather-Bold-Italic";
  src: url("../fonts/Merriweather/Merriweather-BoldItalic.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather-Black-Italic";
  src: url("../fonts/Merriweather/Merriweather-BlackItalic.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Merriweather-Italic";
  src: url("../fonts/Merriweather/Merriweather-Italic.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Merriweather-Medium";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Merriweather-Light";
  src: url("../fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: 500;
}

.shrunken-header {
  max-width: 400px;
  filter: drop-shadow(2px 2px 8px black);
  background: transparent;
}
.shrunken-header::before {
  width: 96px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: white;
  clip-path: polygon(100% 0, 100% 54%, 74% 100%, 0 100%, 0 0);
}
